nav {
    padding: 2vw;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Raleway';
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.sign_up a {
    color: #0065FC;
    font-weight: bold;
    justify-content: center;
}

.onglets {
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    width: 100vw;
    padding-top: 15px;
}

.onglet {
    width: 100%;
    justify-content: center;
    border-bottom: lightgray 1px solid;
    padding-bottom: 15px;
    text-align: center;
}

.onglet:hover {
    color: #0065FC;
    border-bottom: #0065FC 3px solid;
}

.intro {
    padding: 5px;
    font-family: 'Raleway';
}

.title {
    padding: 0px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.title aside {
    font-weight: 200;
    font-size:small;
}

.searchbar {
    display: flex;
    align-items: center;
    border: #f2f2f2 1px solid;
    border-radius: 10px;
    width: auto;
    padding: 0;
}

input {
    width: 100%;
    border: none;
    padding: 1rem;
}

.searchbar:focus {
    box-shadow: #0065FC 1% solid;
}

::placeholder {
    font-weight: bold;
    color: black;
}

.localisation {
    padding: 15px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

.localisation:hover {
    box-shadow: #D9D9D9 5px 5px 5px;
    transition: 0.3s;
}

.search_button {
    background-color: #0065FC;
    padding: 15px;
    border-radius: 9px;
}

.search_button:hover {
    box-shadow: #D9D9D9 5px 5px 5px;
    transition: 0.3s;
}

.search_button i {
    color: white;
}

.search_button b {
    color: white;
    display: none;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 3px;
}

.filter {
    display: flex;
    margin-right: 10px;
    border-radius: 25px;
    width: fit-content;
    border: #D9D9D9 2px solid;
    transition: all 0.5s ease-out;
    font-weight: bold;

}

.filter:hover {
    border-left: none;
    border: #DEEBFF 2px solid;
    background-color: #DEEBFF;
    box-shadow: #D9D9D9 5px 5px 5px;
}

.filter_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: fit-content;
    border: #DEEBFF 2px solid;
    border-radius: 25px;
    background-color: #DEEBFF;
    overflow: visible;
}

.filter_icon i {
    color: #0065FC;
}

.filter_label {
    margin: 10px;
    font-size: 14;
}


.info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    font-weight: lighter;
}

.info_logo {
    color: #0065FC;
    font-size: 10px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #D9D9D9 solid;
    border-radius: 50%;
    width: fit-content;
}

.card:hover {
    box-shadow: #a8a7a7 5px 5px 5px;
    transition: 0.3s;
}


.info .info_p {
    margin-left: 10px;
}

#popular {
    background-color: #F2F2F2;
    /* Need link to @media query for larger
    screen*/
}

#popular_label {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}


.card {
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px #D9D9D9;
}

.type1 {
    display: flex;
    border-radius: 10px;
    align-items: center;
    background-color: cyan;
    padding: 5px;
    margin: 5vw;
}
.type1 .card_img {
}
.type1 .card_img img {
    overflow: hidden;
    max-width: 40vw;
    height: 150%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.type1 .card_info {
    width: 60%;
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .card_info p {
    font-size: 11px;
}


.card .card_info .card_rating i {
    margin-top: 5px;
    font-size: 9px;
    margin-right: -3px;
    color: #0065FC;
}

.disabled {
    color: #D9D9D9 !important;
}

.type2,
.type3 {
    height: fit-content;
    width: 99vw;
    border-radius: 7px;
}

.type2 .card_img {
    height: 75px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.type2 .card_img img {
    height: auto;
    width: 100%;
    position: relative;
    bottom: 60px;
}

.type2 .card_info {
    height: fit-content;
    padding-bottom: 5px;
    padding-left: 10px;
}

.type2 .card_info h5 {
    margin-bottom: -8px;
}

.type2 .card_info .card_rating {
    margin-top: -12px;
}

#img7 {
    width: 100%;
    height: 220px;
    bottom: 70px;
}

#img9 {
    width: 100%;
    height: 350px;
    bottom: 135px;
    left: 0px;
}

section .footer {
    margin-top: 25px;
}

.footer h5 {
    font-size: 15px;
}

.type3 {
    padding: 0;
    margin-bottom: 20px;
}

.type3 .card_img {
    height: 90px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.type3 .card_img img {
    height: auto;
    width: 100%;
    position: relative;
    bottom: 25px;
}

.type3 .card_info {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#img_fort {
    bottom: 150px;
}

#img_nd {
    bottom: 10px;
}

.footer_content {
    margin-bottom: 30px;
}

#main_footer {
    background-color: #F2F2F2;
    width: 100vw;
}

#main_footer h5 {
    font-size: 14px;
}

#main_footer .footer_links ul {
    list-style-type: none;
    padding: 0;
}

#main_footer a {
    color: black;
    margin-bottom: 10px;
    font-size: 13px;
}

@media screen and (min-width:600px) {

    .onglets {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        order: 1;
        padding-top: 0;
        width: fit-content;
        /* Fix Top border height*/
    }

    .top {
        height: 100px;
        align-items: center;
    }

    .onglet:hover {
        border-top: 2px #0065FC solid;
    }


    .onglets .onglet {
        width: fit-content;
        padding-bottom: 0;
        border-bottom: none;
        margin-right: 70px;
        height: 100%;
        align-items: center;
    }

    .sign_up {
        order: 2;
        margin-right: 20px;
    }

    .searchbar {
        width: 60vw;
    }

    .search_button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .search_button i {
        display: none;
    }

    .search_button b {
        display: block;
    }

    .main header .title {
        margin-bottom: 0;
        ;
    }

    .filters_block {
        display: flex;
        align-items: baseline;
        margin: auto;
    }

    .filter {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .filter_icon {
        top: -2px;
    }

    .info {
        justify-content: left;
    }

    .block1 {
        display: flex;
        width: 97vw;
    }

    .content{
        padding: 15px;
    }

    .block1 #popular {
        flex: none;
        order: 2;
        margin-left: 2vw;
        border-radius: 10px;
        max-width: 30vw;
    }

    .block1 #hebergements {
        flex: 3;
        background-color: #F2F2F2;
        border-radius: 10px;
    }

    #hebergements p {
        font-family: 'Raleway';
        padding-left: 1rem;
    }

    #hebergements .content {
        display: grid;
        height: fit-content;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "el1 el2"
            "el3 el4"
            "el5 el6"
        ;
        grid-gap: 20px;
    }

    #card4 {
        grid-area: el1;
    }

    #card5 {
        grid-area: el2;
    }

    #card6 {
        grid-area: el3;
    }

    #card7 {
        grid-area: el4;
    }

    #card8 {
        grid-area: el5;
    }

    #card9 {
        grid-area: el6;
    }

    #img8 {
        bottom: 30px;
    }

    .type2 {
        width: auto;
        height: fit-content;
        margin-bottom: 0;
    }

    .footer {
        position: relative;
        top: -10px;
    }

    #popular .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5px;
        height: auto;
    }

    .type1 {
        width: -webkit-fill-available;
        height: fit-content;
    }

    .type1 .card_info {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .type1 .card_rating {
        margin-bottom: 10px;
    }

    .type1 .card_img {
        width: 110px;
        height: 100%;
    }
    
    .type1 h5 {
        padding: 0;
        margin: 0;
    }

    .type1 .card_img img {
        width: 175%;
        height: auto;
        bottom: 0px;
        right: 30px;
    }

    #img1 {
        width: 200%;
    }

    #activites .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: fit-content;
        grid-gap: 20px;
    }

    .type3 {
        margin: 0;
        width: auto;
    }

    #port {
        grid-area: el10;
        height: 410px;
    }

    #port .card_img {
        height: 370px;
    }

    #port .card_img img {
        bottom: 0px;
        height: auto;
        width: 400%;
        right: 280px;
    }

    #fort {
        grid-area: el11;
        height: 210px;
        margin-bottom: 20px;
    }

    #fort .card_img {
        height: 170px;
    }

    #fort .card_img img {
        height: auto;
        bottom: 20px;
        width: 100%;
    }

    #ile {
        grid-area: el12;
        height: 180px;
    }

    #ile .card_img {
        height: 140px;
    }

    #ile .card_img img {
        width: 130%;
        height: auto;
        bottom: 10px;
    }

    #parc {
        grid-area: el13;
        height: 410px;
    }

    #parc .card_img {
        height: 370px;
    }

    #parc .card_img img {
        width: 400%;
        height: auto;
        bottom: 40px;
        right: 200px;
    }

    #nd {
        grid-area: el14;
        height: 210px;
        margin-bottom: 20px;
    }

    #nd .card_img {
        height: 170px;
    }

    #nd .card_img img {
        width: 200%;
        height: auto;
        right: 100px;
    }

    #longchamp {
        grid-area: el15;
        height: 180px;
    }

    #longchamp .card_img {
        height: 140px;
    }

    #longchamp .card_img img {
        width: 150%;
        height: auto;
        right: 40px;
        bottom: 10px;
    }

    #main_footer {
        margin-top: 20px;
    }

    footer {
        display: flex;
    }

    .footer_content {
        width: 33%;
    }
}

@media screen and (min-width:769px) {

    .info {
        margin-bottom: 0;
    }


    #hebergements header {
        margin-bottom: -20px;
    }

    #hebergements .content {
        display: flex;
        flex-wrap: wrap;
    }

    #hebergements .content>* {
        flex: 0 1 31%;
    }

    #hebergements .card {
        width: 100%;
        height: fit-content;
        margin-bottom: 0;
    }

    #hebergements .card_img {
        height: 6rem;
    }

    #hebergements .card_img img {
        bottom: 20px;
    }

    #img7 {
        width: 100%;
        top: -70px;
    }

    #img8 {
        width: 110%;
        bottom: 100px;
    }

    #img9 {
        top: -130px;
    }

    #hebergements .card_rating {
        margin-bottom: 5px;
    }

    #hebergement_footer h5 {
        margin-top: 40px;
    }


    #popular .content {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;
        height: fit-content;
    }

    .type1 {
        height: 7rem;
        margin-bottom: 0;
    }

    .type1 .card_img {
        width: 120px;
        height: 100%;
    }

    #port {
        grid-area: el10;
        height: 410px;
    }

    #port .card_img {
        height: 370px;
    }

    #port .card_img img {
        height: auto;
        bottom: 0px;
        width: 250%;
        right: 220px;
    }

    #fort {
        grid-area: el11;
        height: 210px;
        margin-bottom: 20px;
    }

    #fort .card_img {
        height: 170px;
    }

    #fort .card_img img {
        height: auto;
        width: 100%;
        bottom: 100px;
    }

    #ile {
        grid-area: el12;
        height: 180px;
    }

    #ile .card_img {
        height: 140px;
    }

    #ile .card_img img {
        width: 110%;
        height: auto;
        bottom: 10px;
    }

    #parc {
        grid-area: el13;
        height: 410px;
    }

    #parc .card_img {
        height: 370px;
    }

    #parc .card_img img {
        width: 260%;
        height: auto;
        bottom: 100px;
        right: 250px;
    }

    #nd {
        grid-area: el14;
        height: 210px;
        margin-bottom: 20px;
    }

    #nd .card_img {
        height: 170px;
    }

    #nd .card_img img {
        width: 150%;
        height: auto;
        right: 50px;
    }

    #longchamp {
        grid-area: el15;
        height: 180px;
    }

    #longchamp .card_img {
        height: 140px;
    }

    #longchamp .card_img img {
        width: 100%;
        height: auto;
        right: 0px;
        bottom: 10px;
    }
}