body {
    font-family: Raleway;
}

.head{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.search{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.card_1{
    grid-column: 1/3;
}

.card_2{
    grid-column: 3/3;
    display: inline;
    list-style-type: none;
    float: left;
}

.navbar li{
    display: inline;
    list-style-type: none;
    float: left;
}

#navbar-sub{
    color: #0065FC;
}

.navbar a{
    display: block;
    padding: 12px;
    text-decoration: none;
    color: grey;
}

.navbar a:hover{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

#navbar_sub{
    color: #0065FC;
}

.top_content{
    display: grid;
    grid-template-columns: 3;
}

.card_3{
    grid-column: 1;
}

.searchfunc{
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
    outline: none;
    border: none;
}

#search_geoloc{
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -5px;
    border: inherit;
    outline: inherit;
}

#search{
}

#search_button{
    color: white;
    background-color: #0065FC;
    border-radius: inherit;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -5px;
    outline: inherit;
    border: inherit;
}

.card_4{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#filter_econ{
    background-color: #deebff;
}

.card_footer{
    width: 100% !important;
    position: absolute !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-color: #F2F2F2;
}